<li class='list'>
  <%=  link_to item_path(item.id) do%>
    <div class='item-img-content'>
      <%= image_tag item.item_image.variant(resize:'173.25x173.25'), class: "item-img" %>

    <% records.each do |bought_record| %>     
      <% if bought_record.item.id == item.id %>
      <div class='sold-out'>
        <span>Sold Out!!</span>
      </div>
      <% end %>
    <% end %>
    

    </div>
    <div class='item-info'>
      <h3 class='item-name'>
        <%= item.item_name %>
      </h3>
      <div class='item-price'>
        <span><%= item.item_price %>円<br><%= ShippingFee.find(item.item_shipping_fee_staus_id).name %></span>
        <div class='star-btn'>
          <%= image_tag "star.png", class:"star-icon" %>
          <span class='star-count'>0</span>
        </div>
      </div>
    </div>
  <%end%>
</li>